.idea
*.stackdump
*-output-*.*
*.dmp
CrashAutoSave.toe
TEMP*
*-package-*.zip
lcdq-content/**/*.mp4
lcdq-content/**/*.mov
lcdq-content/**/*.pdf
lcdq-content/**/*.txt
lcdq-content/**/*.mocha
lcdq-content/**/*.jpg
lcdq-content/**/*.psd
lcdq-content/**/*.png
